html,
body,
button,
input {
  font-family: 'Raleway', sans-serif;
}

.trello-board {
  display: flex;
  width: min-content;
  overflow-x: scroll;
}

.category-column {
  width: 300px;
  padding: 10px 0px;
  background: #cccccc;
  height: fit-content;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  margin: 20px 40px;
}
.category-title-wrapper {
  padding: 0px 10px;
  font-weight: bold;
}
.card-list-wrapper {
  padding: 0px 10px;
  margin: 10px 0px;
  flex-grow: 1;
  overflow-y: scroll;
}
.card {
  background: #a6a6a6;
  padding: 10px;
  margin: 10px 0px;
}
.button-group {
  display: flex;
  justify-content: space-between;
}
.card-button-wrapper {
  margin-top: 10px;
}
.card input {
  width: calc(100% - 10px);
}
.add-data-type-wrapper {
  padding: 0px 10px;
}
.add-data-type-btn-wrapper {
  text-align: center;
}
.add-data-type-btn-wrapper button {
  text-transform: capitalize;
}
.add-data-type-input-wrapper input {
  width: calc(100% - 10px);
  margin-bottom: 10px;
}
